


body{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
}

header {
  top: 70px;
  position: relative;
  margin-bottom: 150px;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -145px;
}

h1 {
  font-size: 100px;
  line-height: 130px;
}

ul li {
  list-style: none;
  margin: 10px 0;
}


h1, h2, .skills-list {
  font-family: 'Inknut Antiqua', serif;
}

img {
  /* this is limiting the width of the image to take 100% of parent column */
  max-width: 100%;
}

nav {
  background: #DBEBF4;
  position: fixed;
  z-index: 1;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 0 15px; /* refers to top and bottom  & 15 to left and right*/
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

li.empty {
  width: 90px;
  border: 1px solid black;
  top: -5px;
  position: relative;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  text-decoration: underline;
}

nav ul{
  margin: 0 auto;
  text-align: center;
  padding: 30px;

}

.button {
  border: 1px solid #1d9c8a;
  text-decoration: none;
  color: #e8e9e9;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  background-color: #1d9c8a;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background: black;
  color: white;
}

figcaption {
  font-size: 10px;
  margin-bottom: 10px;
}

.profile-img {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.skills-list {
  text-align: center;
  font-size: 30px;
  color: #065858;
}

.project {
  margin: 30px 0;
  padding: 50px;
}

.blue {
  background-color: #DBEBF4;
}

.project .button {
  margin-top: 10px;
}

footer {
  text-align: center;
  margin: 100px;
}

footer h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.right-alignment {
  text-align: right;
}
